.new-workout {
  select {
    border: solid green 1px;
    height: 80px;
    display: block;
    margin-top: 80px;
    font-size: 60px;
  }
  button {
    font-size: 50px;
    margin-top: 30px;
  }
}
